* {
    font-family: arial;
    font-size: 100%;
}

th, td {
    border-bottom: 1px solid #cccccc;
    height:24px;
}

.generic_header_container{
    width: 100%;
    height: 50px;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    font-family: sans-serif;
    font-size: 20px;
    border-color: #dddddd;
    color: #777777;
}

.generic_header_home{
    color: inherit;
    float: left;
    height:inherit;
    position:relative;
    top:25%;
    padding-left: 10px;
    text-decoration: none;
}

.generic_header_help{
    color: inherit;
    float: left;
    height: inherit;
    position:relative;
    top:25%;
    padding-left: 30px;
    text-decoration: none;
}

.generic_header_login{
    color: inherit;
    float: right;
    height:inherit;
    position: relative;
    top:25%;
    padding-right: 10px;
    text-decoration: none;
}

.generic_header_spacer{
    height: 15px;
}

.generic_page_footer{
    width: 100%;
    text-align: center;
}

.generic_table{
    width: 100%;
    text-align: left;
    border-color: #cccccc;
}

.generic_table_data_colour_gold{
    background-color: #f4df42;
}

.generic_table_data_colour_silver{
    background-color: #adafb2;
}

.generic_table_data_colour_bronze{
    background-color: #c6681b;
}

.landing_page_student_links{
    text-decoration: none;
    color: #4a72b2;
}

.student_details_container{
    width: 100%;
}

.student_particulars{
    float: left;
    width: 70%;
}

.student_photo{
    float: right;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.country_flag{
    float: right;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.cross_out{
    background-color: #f7ada5;

}
